<!DOCTYPE html>
<html>
<head>
    <title>CSSI Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style4.css">
    <style>
        .hover1:hover{
            border-radius: 6px;
            background-color: deepskyblue;
        }
        .hover2:hover{
            border-radius: 6px;
            background-color: lawngreen;
        }
        .hover3:hover{
            border-radius: 6px;
            background-color: crimson;
        }
        span{
            color: crimson;
        }
        span2{
            color: lawngreen;
        }
        span3{
            color: deepskyblue;
        }
        span4{
            color: mediumpurple;
        }
    </style>
</head>
<body>
                    <!-- START OF NAV -->
    <nav>
      <a href="/"> <div class="logo"><span>C</span><span2>S</span2><span3>S</span3><span4>I</span4> Hub</div></a>
      <ul>
        <li><a href="/html" class="hover1">HTML</a></li>
        <li><a href="/js" class="hover2">JavaScript</a></li>
        <li><a href="/us" class="hover3">About Us</a></li>
      </ul>
    </nav>
                    <!-- END OF NAV -->
                    <!-- START OF MAIN -->
    <center>
        <br> <br> <br> <br> <br> <br>
    <div id="main">
        <br>
            <h1>Basic Python Code</h1>
        
        <div>
          <table>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp>print ("")</xmp></td>
                <td>Prints a string.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>str()</xmp></td>
                <td>Converts data to a string.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>int()</xmp></td>
                <td>Converts data to a interger.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>def functionName():</xmp></td>
                <td>Defines a function.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>variable = ""</xmp></td>
                <td>Give variable a value.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>==</xmp></td>
                <td>Sets a value equal to another value.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>or</xmp></td>
                <td>Or statement.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>and</xmp></td>
                <td>And statement.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>import random</xmp></td>
                <td>Imports a random function.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>for x in range():</xmp></td>
                <td>This is a for loop.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>float()</xmp></td>
                <td>Number with decimal.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>print (a(1))</xmp></td>
                <td>This is an array.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>>=</xmp></td>
                <td>Greater or equal to.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>!=</xmp></td>
                <td>Not equal to.</td>
            </tr>
          </table>
        </div>
        
        <div>
            <br>
            <h1>How do we use variables in Python?</h1>
            <ul>
                <img src="static/py_img.png" style="margin-left: -20px;">
            </ul>
        </div>
        
        <div>
            <br> <br>
            <p style="text-align: left; margin-left: 50px;">- In the image below we show you how to use <strong>IF THEN</strong> statements in <strong>Python</strong>.</p>
            <img src="static/ifpy_img.png" style="width: 800px; height: 250px; margin-left: -20px;">
        </div>
        
        <div>
            <br> <br>
            <h1>Want to refresh your memory?</h1>
            <h3>(Try DEBUGGING the code below!)</h3>
            <br>
            <ol>
                <li style="margin-left: 50px;"></li>
                <img src="static/bug_img.png" style="margin-top: -25px; height: 300px; width: 600px;">
            </ol>
        </div>
        
        <div>
            <br>
            <h1>Frequently asked questions</h1>
            <br>
            <h3 class="questions" onclick="myFunction('q1')" style="text-align: left; margin-left: 50px;">What is the difference between <strong>IS</strong> and <strong>==</strong> ?</h3>
            <p id="q1" style="text-align: left; margin-left: 50px; font-size: 16px;">There is no difference. You should be able to use both.</p>
            <h3 class="questions" onclick="myFunction('q2')" style="text-align: left; margin-left: 50px;">How do we convert a string to a interger?</h3>
            <p id="q2" style="text-align: left; margin-left: 50px; font-size: 16px;">We would need to use the <strong>int()</strong> function.</p>
            <h3 class="questions" onclick="myFunction('q3')" style="text-align: left; margin-left: 50px;">What language was python written in?</h3>
            <p id="q3" style="text-align: left; margin-left: 50px; font-size: 16px;">Python was written in <strong>C</strong>.</p>
        </div>
        
    </div>
        <br>
    </center>
                    <!-- END OF MAIN -->
                    <!-- START OF FOOTER -->
    <div id="footer">
        <br> <div class="left">
        <p style="color: white;">Follow us on : <br> <a href="https://www.facebook.com/NortheasternElCentro/"><i class="fa fa-facebook-official" style="color: white; margin-left: 20px;"></i></a>&emsp;<a href="https://twitter.com/neiuelcentro?lang=en"><i class="fa fa-twitter" style="color: white;"></i></a>&emsp;<a href="https://github.com/Amaan-Yaseen/CSSI-Hub"><i class="fa fa-github" style="color: white;"></i></a></p></div>
    </div>
                    <!-- END OF FOOTER -->
</body>
</html>
<script>
    function myFunction(name){
        var T = document.getElementById(name);
        if (T.style.visibility.toString() === 'hidden' || T.style.visibility === '') {
            T.style.visibility = 'visible';
        }
        else {
            T.style.visibility = 'hidden';
        }
    }
</script>