<!DOCTYPE html>
<html>
<head>
    <title>CSSI Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style2.css">
    <style>
        .hover1:hover{
            border-radius: 6px;
            background-color: lawngreen;
        }
        .hover2:hover{
            border-radius: 6px;
            background-color: mediumpurple;
        }
        .hover3:hover{
            border-radius: 6px;
            background-color: crimson;
        }
        span{
            color: crimson;
        }
        span2{
            color: lawngreen;
        }
        span3{
            color: deepskyblue;
        }
        span4{
            color: mediumpurple;
        }
    </style>
</head>
<body>
                    <!-- START OF NAV -->
    <nav>
      <a href="/"> <div class="logo"><span>C</span><span2>S</span2><span3>S</span3><span4>I</span4> Hub</div></a>
      <ul>
        <li><a href="/js" class="hover1">JavaScript</a></li>
        <li><a href="/py" class="hover2">Python</a></li>
        <li><a href="/us" class="hover3">About Us</a></li>
      </ul>
    </nav>
                    <!-- END OF NAV -->
                    <!-- START OF MAIN -->
    <center>
        <br> <br> <br> <br> <br> <br>
    <div id="main">
        <br>
            <h1>Basic HTML Tags</h1>
        
        <div>
          <table>
            <tr>
                <th>Tags</th>
                <th>Description</th>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp><html></html></xmp></td>
                <td>It tells the browser that this is a HTML document.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><head></head></xmp></td>
                <td>It contains all the data.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><title></title></xmp></td>
                <td>Specifies the tile of the page.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><body></body></xmp></td>
                <td>Shows the main content that will be visible on your web page.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><h1></h1> to <h6></h6></xmp></td>
                <td>This is the heading and the sub-headings.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><p></p></xmp></td>
                <td>Contains the text.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><div></div></xmp></td>
                <td>Divides the page into parts.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><strong></strong></xmp></td>
                <td>Used to bold text.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><a href="#"></a></xmp></td>
                <td>Defines a hyperlink.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><ol></ol></xmp></td>
                <td>List things in order.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><ul></ul></xmp></td>
                <td>Lists things without an order.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><li></li></xmp></td>
                <td>Contains the list itself.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><br></xmp></td>
                <td>Adds a line break, and is also a self closing tag.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp><style></style></xmp></td>
                <td>Allows the use of CSS in an HTML page.</td>
            </tr>
          </table>
        </div>
        
        <div>
            <br>
            <h1>How do we setup an HTML page and link files?</h1>
            <p style="text-align: left; margin-left: 50px;">- A basic HTML page consists of the following :</p>
            <ul>
                <li style="text-align: left; margin-left: 50px;">A <strong>HTML</strong> tag</li>
                <li style="text-align: left; margin-left: 50px;">A <strong>HEAD</strong> tag</li>
                <li style="text-align: left; margin-left: 50px;">A <strong>BODY</strong> tag</li>
                <img src="static/html_img.PNG" style="float: right; margin-right: 120px; margin-top: -130px;">
            </ul>
        </div>
        
        <div>
            <br> <br>
            <p style="text-align: left; margin-left: 50px;">- In order to link files we must use the <strong>LINK</strong> tag which goes under the <strong>HEAD</strong> tag.</p>
            <img src="static/link_img.PNG" style="width: 800px; height: 150px; margin-left: -20px;">
        </div>
        
        <div>
            <br> <br>
            <h1>Want to refresh your memory?</h1>
            <h3>(Try DEBUGGING the code below!)</h3>
            <br>
            <ol>
                <li style="margin-left: 50px;"></li>
                <img src="static/bug1_img.PNG" style="margin-top: -25px;">
            </ol>
        </div>
        
        <div>
            <br>
            <h1>Frequently asked questions</h1>
            <br>
            <h3 class="questions" onclick="myFunction('q1')" style="text-align: left; margin-left: 50px;">What does HTML stand for?</h3>
            <p id="q1" style="text-align: left; margin-left: 50px; font-size: 16px;">HTML stands for <strong>H</strong>yper <strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage.</p>
            <h3 class="questions" onclick="myFunction('q2')" style="text-align: left; margin-left: 50px;">Do all HTML tags have a closing tag?</h3>
            <p id="q2" style="text-align: left; margin-left: 50px; font-size: 16px;">No, there are some tags that do not have a closing tag like <strong>img</strong>.</p>
            <h3 class="questions" onclick="myFunction('q3')" style="text-align: left; margin-left: 50px;">Can you change the color of a text in HTML?</h3>
            <p id="q3" style="text-align: left; margin-left: 50px; font-size: 16px;">Yes, you would need to use the <strong>style</strong> tag to do so.</p>
        </div>
        
    </div>
        <br>
    </center>
                    <!-- END OF MAIN -->
                    <!-- START OF FOOTER -->
    <div id="footer">
        <br> <div class="left">
        <p style="color: white;">Follow us on : <br> <a href="https://www.facebook.com/NortheasternElCentro/"><i class="fa fa-facebook-official" style="color: white; margin-left: 20px;"></i></a>&emsp;<a href="https://twitter.com/neiuelcentro?lang=en"><i class="fa fa-twitter" style="color: white;"></i></a>&emsp;<a href="https://github.com/Amaan-Yaseen/CSSI-Hub"><i class="fa fa-github" style="color: white;"></i></a></p></div>
    </div>
                    <!-- END OF FOOTER -->
</body>
</html>
<script>
    function myFunction(name){
        var T = document.getElementById(name);
        if (T.style.visibility.toString() === 'hidden' || T.style.visibility === '') {
            T.style.visibility = 'visible';
        }
        else {
            T.style.visibility = 'hidden';
        }
    }
</script>