<!DOCTYPE html>
<html>
<head>
    <title>CSSI Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style3.css">
    <style>
        .hover1:hover{
            border-radius: 6px;
            background-color: deepskyblue;
        }
        .hover2:hover{
            border-radius: 6px;
            background-color: mediumpurple;
        }
        .hover3:hover{
            border-radius: 6px;
            background-color: crimson;
        }
        span{
            color: crimson;
        }
        span2{
            color: lawngreen;
        }
        span3{
            color: deepskyblue;
        }
        span4{
            color: mediumpurple;
        }
    </style>
</head>
<body>
                    <!-- START OF NAV -->
    <nav>
      <a href="/"> <div class="logo"><span>C</span><span2>S</span2><span3>S</span3><span4>I</span4> Hub</div></a>
      <ul>
        <li><a href="/html" class="hover1">HTML</a></li>
        <li><a href="/py" class="hover2">Python</a></li>
        <li><a href="/us" class="hover3">About Us</a></li>
      </ul>
    </nav>
                    <!-- END OF NAV -->
                    <!-- START OF MAIN -->
<center>
        <br> <br> <br> <br> <br> <br>
    <div id="main">
        <br>
            <h1>Basic JavaScript Code</h1>
        
        <div>
          <table>
            <tr>
                <th>Code</th>
                <th>Description</th>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp>console.log();</xmp></td>
                <td>Adds text.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>document.getElementById(id)</xmp></td>
                <td>Used to call an HTML element by it's ID.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>var</xmp></td>
                <td>Defines a variable.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>( +, -, *, / )</xmp></td>
                <td>Used to compute values.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>=</xmp></td>
                <td>Used to assign value to a variable.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>===</xmp></td>
                <td>Sets a value equal to another value.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>+""+</xmp></td>
                <td>Used to add space in strings.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>//</xmp></td>
                <td>Used to add a comment.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>==</xmp></td>
                <td>Sets 2 operators equal to each other.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>++</xmp></td>
                <td>Increases the value by 1.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>--</xmp></td>
                <td>Decreases the value by 1.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>%</xmp></td>
                <td>Returns the remainder of a division.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>**</xmp></td>
                <td>Used to add an exponent.</td>
            </tr>
              <tr>
                <td style="text-align: center;"><xmp>></xmp></td>
                <td>Greater than sign.</td>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp>!=</xmp></td>
                <td>Not equal to.</td>
            </tr>
                            <tr>
                <td style="text-align: center;"><xmp>&&</xmp></td>
                <td>And.</td>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp>||</xmp></td>
                <td>Or.</td>
            </tr>
            <tr>
                <td style="text-align: center;"><xmp>!</xmp></td>
                <td>Not.</td>
            </tr>
          </table>
        </div>
        
        <div>
            <br>
            <h1>How do we use an IF THEN statement in Javascript?</h1>
            <p style="text-align: left; margin-left: 50px;">- Never forget the following syntax :</p>
            <ul>
                <li style="text-align: left; margin-left: 50px;"><strong>( )</strong></li>
                <li style="text-align: left; margin-left: 50px;"><strong>{ }</strong></li>
                <li style="text-align: left; margin-left: 50px;"><strong>;</strong></li>
                <img src="static/if_img.png" style="float: right; margin-right: 120px; margin-top: -165px;">
            </ul>
        </div>
        
        <div>
            <br> <br>
            <p style="text-align: left; margin-left: 50px;">- This is how we write a  <strong>Function</strong> in <strong>Javascript</strong></p>
            <img src="static/function_img.PNG" style="width: 800px; height: 150px; margin-left: -20px;">
        </div>
        
        <div>
            <br> <br>
            <h1>Want to refresh your memory?</h1>
            <h3>(Try DEBUGGING the code below!)</h3>
            <br>
            <ol>
                <li style="margin-left: 50px;"></li>
                <img src="static/find_syntax_error_img.PNG" style="margin-top: -25px; width: 700px; height: 400px;">
            </ol>
        </div>
        
        <div>
            <br>
            <h1>Frequently asked questions</h1>
            <br>
            <h3 class="questions" onclick="myFunction('q1')" style="text-align: left; margin-left: 50px;">What is the difference between <strong>Null</strong> and <strong>Undefined</strong>?</h3>
            <p id="q1" style="text-align: left; margin-left: 50px; font-size: 16px;"><strong>Null</strong> means that the variable doesn't exist and it that the their is no value. While <strong>Undefined</strong> means that the variable hasn't been declared yet.</p>
            <h3 class="questions" onclick="myFunction('q2')" style="text-align: left; margin-left: 50px;">What are the differences between == and === ?</h3>
            <p id="q2" style="text-align: left; margin-left: 50px; font-size: 16px;"><strong>===</strong> means that the string or value will be converted or change the item to the same type and do a comparison. While <strong>===</strong> means that it checks if boths values are true if not it will print out false.</p>
        </div>
        
    </div>
        <br>
    </center>
                    <!-- END OF MAIN -->
                    <!-- START OF FOOTER -->
    <div id="footer">
        <br> <div class="left">
        <p style="color: white;">Follow us on : <br> <a href="https://www.facebook.com/NortheasternElCentro/"><i class="fa fa-facebook-official" style="color: white; margin-left: 25px;"></i></a>&emsp;<a href="https://twitter.com/neiuelcentro?lang=en"><i class="fa fa-twitter" style="color: white;"></i></a></p></div>
    </div>
                    <!-- END OF FOOTER -->
</body>
</html>
<script>
    function myFunction(name){
        var T = document.getElementById(name);
        if (T.style.visibility.toString() === 'hidden' || T.style.visibility === '') {
            T.style.visibility = 'visible';
        }
        else {
            T.style.visibility = 'hidden';
        }
    }
</script>