<!DOCTYPE html>
<html>
  <head>
      <style>
          img {
              width: 300px;
              height: 200px;
          }
          .hover1:hover{
              color: deepskyblue;
          }
          .hover2:hover{
              color: lawngreen;
          }
          .hover3:hover{
              color: mediumpurple;
          }
      </style>
    <title>CSSI Hub</title>
    <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div>
      <nav>
      <ul>
      <li><a href="index.html"><img src="cssi_hub_log.jpg"></a></li>
      <li><a href="page2.html" class="hover1">HTML/CSS</a></li>
      <li><a href="page3.html" class="hover2">JavaScript</a></li>
      <li><a href="page4.html" class="hover3">Python</a></li>
      </ul>
      </nav>
    </div>
      <br> <br>
    <center>
      <div id="container">
      <br>
      <div class="slideshow-container">

        <div class="mySlides fade">
          <img src="img_1.jpg" style="height: 600px; width: 1000px;">
        </div>

        <div class="mySlides fade">
          <img src="img_2.JPG" style="height: 600px; width: 1000px;">
        </div>

        <div class="mySlides fade">
          <img src="img_3.JPG" style="height: 600px; width: 1000px;">
        </div>
        <br>
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>

      </div>
      <br>


      <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 4000);
        }
      </script>
      
      <div id="main" >
        <h1>What is CSSI Hub?</h1>
        <br> <br> <br>
          <p>"ADD TEXT HERE"</p>
          </div></div>
    </center>
      <div id="footer">
          <p style="color: crimson">Follow us on : <br> <a href="https://www.facebook.com/NortheasternElCentro/"><i class="fa fa-facebook-official" style="color: crimson"></i></a>&emsp;<a href="https://twitter.com/neiuelcentro?lang=en"><i class="fa fa-twitter" style="color: crimson"></i></a></p>
      </div>
  </body>
</html>
