<!DOCTYPE html>
<html>
  <head>
      <style>
          .hover1:hover{
              color: blue;
          }
          .hover2:hover{
              color: lawngreen;
          }
          .hover3:hover{
              color: purple;
          }
      </style>
    <title>CSSI Hub</title>
    <link rel="stylesheet" href="page4.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div>
      <nav>
      <ul>
      <li><a href="index.html"><img src="cssi_hub_log.jpg"></a></li>
      <li><a href="page2.html" class="hover1">HTML/CSS</a></li>
      <li><a href="page3.html" class="hover2">JavaScript</a></li>
      <li><a href="page4.html" class="hover3">Python</a></li>
      </ul>
      </nav>
    </div>
    <center>
        <br>
      <div id="container">
      
      <div id="main" >
          <br> <br> <br> <br>
          <h1>Add Python Stuff Here.</h1>
          </div></div>
    </center>
      <br>
      <div id="footer">
          <p style="color: mediumpurple">Follow us on : <br> <a href="https://www.facebook.com/NortheasternElCentro/"><i class="fa fa-facebook-official" style="color: mediumpurple"></i></a>&emsp;<a href="https://twitter.com/neiuelcentro?lang=en"><i class="fa fa-twitter" style="color: mediumpurple"></i></a></p>
      </div>
  </body>
</html>
